body{
    font-family: sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#contentbox {
    height:fit-content;
    width: fit-content;
    display: flex;
    background-color: rgb(217, 216, 216);
    justify-content: space-between;
}
ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}
li {
    font-size: 25px;
    list-style-type: none;
    display: inline;
    margin: 0 15px;
}
#textbox {
    margin: 20px 0 20px 20px;
    width: 30%;
    flex-direction: column;
    display: flex;
}
#imagebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    margin-right: 20px;
}
h1 {
    font-size: 56px;
}
p {
    font-size: 26px;
    
}
a {
    color: gray;
    text-decoration:none;
}
h3 {
    font-size: 38px;
    
}
h2 {
    font-family: verdana;
    margin-left: 40px;
    font-weight:bolder;
    font-size: 32px;
    align-items: flex-end;;
    color: red;
}
span {
    color: rgb(85, 186, 85);
}
#navigation {
    justify-content: space-between;
    display:flex;
}
#pasta, #shrimp, #apple{
position: relative;

}

    

img {
    z-index: -1;
    object-fit: cover;
    padding: 5px;
    width: 300px;
    height: 460px;
}
.imgtext {
    display:flex;
    align-items: flex-end;

}
.white {
    font-weight: bold;
    padding: 8px;
    position: absolute;
    right: 5px;
    bottom: 40px;
    z-index: 1;
    justify-content: flex-end;
    text-align: center;
    width: 5rem;
    background-color: white;
}
.green {
    font-weight: bold;
    padding: 8px 20px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 8rem;
    text-align: right;
    background-color: rgb(85, 186, 85);
}
